@{
    ViewData["Title"] = "Beer Service";

    string env = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");
    string mongoDbUrl = Environment.GetEnvironmentVariable("MONGODB_URL");
    string rabbitMqHost =  Environment.GetEnvironmentVariable("RABBITMQ_HOST");
    string rabbitMqPort = Environment.GetEnvironmentVariable("RABBITMQ_PORT");
    string JwtAudience = System.Environment.GetEnvironmentVariable("JWT_AUDIENCE");
    string JwtAuthority = System.Environment.GetEnvironmentVariable("JWT_AUTHORITY");
}

@section scripts
{
    <script>
    
   $(function () {

       var dataType = 'application/json; charset=utf-8';
       var baseUri = document.baseURI.replace(/\/$/, '')

        $.ajax({
            type: "GET",
            url: baseUri + "/api/build",
            contentType: dataType,
            success: function (data){
                console.log(data)
                $('#version').text(data.version);
                $('#semversion').text(data.semVer);
                $('#branche').text(data.branche);
                $('#tag').text(data.tag);
                $('#baseTag').text(data.baseTag);
                $('#comit').text(data.commit);
                $('#comitDate').text(data.commitDate);
                $('#sha').text(data.sha);

                
            },
            failure: function(errMsg) {
                console.error(errMsg);
            }
        });

        $.ajax({
            type: "GET",
            url: baseUri + "/api/sysinfo",
            contentType: dataType,
            success: function (data){
                console.log(data)
                $('#ip').text(data.ip);
                $('#host').text(data.host);
                $('#localip').text(data.localIp);
            },
            failure: function(errMsg) {
                console.error(errMsg);
            }
        });
       
       $('#conf_spinner').hide();


   })

    
       
    
    </script>

}


<div id="accordion" class="py-5">
      
    <div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div style="text-align:center" class="card-header p-0 border-0" id="heading-240">
        <button style="text-decoration: none" class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-240" aria-expanded="false" aria-controls="#collapse-240">
            <i class="fas fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>
            <h4 style="color:black">Variables d'environnements</h4>                       
        </button>
    </div>
    <div id="collapse-240" class="collapse " aria-labelledby="heading-240" data-parent="#accordion">
        <div class="card-body accordion-body">
            <table class="table table-hover">
 
            <tbody>
                <tr>
                <td scope="row" ><strong>ASPNETCORE_ENVIRONMENT</strong></td>
                @if (env == null)
                {
                    <td scope="row"><em>Indéfini</em></td>
                }else{
                    <td scope="row"><em>@env</em></td>
                }
                </tr>

                <tr>
                <td scope="row"><strong>MONGODB_URL</strong></td>
                @if (mongoDbUrl == null)
                {
                    <td scope="row"><em>Indéfini</em></td>
                }else{
                    <td scope="row"><em>@mongoDbUrl</em></td>
                }
                </tr>

                <tr>
                <td scope="row"><strong>RABBITMQ_HOST</strong></td>
                @if (mongoDbUrl == null)
                {
                    <td scope="row"><em>Indéfini</em></td>
                }else{
                    <td scope="row"><em>@rabbitMqHost</em></td>
                }
                </tr>

                <tr>
                <td scope="row"><strong>RABBITMQ_PORT</strong></td>
                @if (mongoDbUrl == null)
                {
                    <td scope="row"><em>Indéfini</em></td>
                }else{
                    <td scope="row"><em>@rabbitMqPort</em></td>
                }
                </tr>

                <tr>
                <td scope="row"><strong>JWT_AUDIENCE</strong></td>
                @if (JwtAudience == null)
                {
                    <td scope="row"><em>Indéfini</em></td>
                }else{
                    <td scope="row"><em>@JwtAudience</em></td>
                }
                </tr>

                <tr>
                <td scope="row"><strong>JWT_AUTHORITY</strong></td>
                @if (JwtAuthority == null)
                {
                    <td scope="row"><em>Indéfini</em></td>
                }else{
                    <td scope="row"><em>@JwtAuthority</em></td>
                }
                </tr>
                
            </tbody>
            </table>
        
        </div>
    </div>
</div>
            
<div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div style="text-align:center" class="card-header p-0 border-0" id="heading-241">
        <button style="text-decoration: none" class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-241" aria-expanded="false" aria-controls="#collapse-241">
            <i class="fas fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>
            <h4 style="color:black">BuildInfo</h4>                  
        </button>
    </div>
    <div id="collapse-241" class="collapse " aria-labelledby="heading-241" data-parent="#accordion">
        <div class="card-body accordion-body">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td scope="row"><strong>Branche</strong></td>
                        <td id="branche" scope="row"><em>[Branche]</em></td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Version<strong></td>
                        <td id="version" scope="row"><em>[Version]</em></td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Tag</strong></td>
                        <td id="tag" scope="row"><em>[Tag]</em></td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Base Tag</strong></td>
                        <td id="baseTag" scope="row"><em>[Base Tag]</em></td>
                    </tr>

                    <tr>
                        <td scope="row"><strong>Comit</strong></td>
                        <td id="comit" scope="row"><em>[Comit]</em></td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>SHA</strong></td>
                        <td id="sha" scope="row"><em>[SHA]</em></td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Date</strong></td>
                        <td id="comitDate" scope="row"><em>[Date]</em></td>
                    </tr>

                </tbody>
            </table>
        
        </div>
    </div>
</div>
            
<div class="card border-0 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div style="text-align:center" class="card-header p-0 border-0" id="heading-242">
        <button style="text-decoration: none" class="btn btn-link accordion-title border-0 collapsed" data-toggle="collapse" data-target="#collapse-242" aria-expanded="false" aria-controls="#collapse-242">
            <i class="fas fa-minus text-center d-flex align-items-center justify-content-center h-100"></i>
            <h4 style="color:black">System Info</h4>                       
        </button>
    </div>
    <div id="collapse-242" class="collapse " aria-labelledby="heading-242" data-parent="#accordion">
        <div class="card-body accordion-body">

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td scope="row"><strong>IP</strong></td>
                        <td id="ip" scope="row"><em>[IP]</em></td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>Host<strong></td>
                        <td id="host" scope="row"><em>[Host]</em></td>
                    </tr>
                    <tr>
                        <td scope="row"><strong>LocalIP</strong></td>
                        <td id="localip" scope="row"><em>[LocalIP]</em></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
         
<div id="conf_spinner" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>

</div>


